.navbar {
    position: relative;
    background: #570e0e;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    box-shadow: 1px 2px 5px lightgray;
}

.logo {
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    font-size: 35px;
}

.nav-side-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 0 10px;
    width: 70vw;
    justify-content: end;
    margin-right: 35px;
}

.nav-items {
    display: flex;
    align-items: center;
    height: 80px;
}

.nav-links {
    color: white;
    text-decoration: none;
    padding: 8px 20px;
    transition: all 0.3s ease-out;
}