.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 95vh;
}

.wrapper, html {
    background: #732F2F;
    color: whitesmoke;
}

.input-wrapper {
    /*width: 80%;*/
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 150px;
}

.input-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 200px;
}

.inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    margin: 40px;
}

.foot {
    margin-top: auto;
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 50px;
}

#inventory-list {
    position: relative;
    height: 700px;
    overflow: auto;
}

.inventory-list-scrollspy {
    position: relative;
    height: 700px;
    overflow: auto;
}

.button-container {
    margin: 0;
}

.bold {
    font-weight: bold;
}
